
.nav {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
}
.nav :link {
    color: #a76cde;
    font-family:"IBM Plex Mono", monospace;
}
.ibm-plex-mono-regular {
    font-family: "IBM Plex Mono", monospace;
    font-weight: 400;
    font-style: normal;
  } 
html { 
    scroll-behavior: smooth; 
}   
#title{
    font-family: "IBM Plex Mono", monospace;
    font-weight: 400;
    font-style: normal;
}
.gradient-background{
    background: radial-gradient(ellipse at top, #a76cde, transparent),
            radial-gradient(ellipse at bottom, #c930a2, transparent);
}
#about-me {
    font-family: "IBM Plex Mono", monospace;
    font-weight: 400;
    font-style: normal;
}
#about-me img {
    border-radius: 50%;

}
#experience {
    font-family: "IBM Plex Mono", monospace;
    font-weight: 400;
    font-style: normal;
    justify-items: center;
}
.col-sm-4 {
    display: flex;
    justify-content: center;
    align-items: center;
}
#projects {
    background:radial-gradient(ellipse at top, #a76cde, transparent),
    radial-gradient(ellipse at bottom, #c930a2, transparent);
    padding-bottom: 5rem;
}
#projects div h2{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    font-family: "IBM Plex Mono", monospace;
    font-weight: 500;
    font-style:normal;
    font-size:40px;
}
.work-item h3 {
    font-family: "IBM Plex Mono", monospace;
    font-weight: 400;
    font-style: normal;
}
#footer h2{
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: dotted;
    border-color: #a76cde;
    font-family: "IBM Plex Mono", monospace;
    font-weight: 400;
    font-style: normal;
}